# Created by venv; see https://docs.python.org/3/library/venv.html
/*/

# No ignorar la carpeta ACTIVIDADES y su contenido
!ACTIVIDADES/
!ACTIVIDADES/*

# No ignorar la carpeta EJEMPLOS y su contenido
!EJEMPLOS/
!EJEMPLOS/*

# Excluir todas las carpetas __pycache__ y su contenido
**/__pycache__/