h1 {
    color: blue;
    text-align: center;
}

.numeros {
    display: fle;
    width: 100%;
    border: solid 4px;
    display: flex;
}

.numeros>div {
    flex-grow: 1;
    margin: 5px;
    background-color: #6388aa;
    font-size: 3em;
    text-align: center;
    justify-content: center;
    line-height: 120%;
    }

.diff {
    flex-grow: 2;
}